<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" type="text/css"/>
  <title>The Barber Shop</title>

  <!-- Bootstrap -->
  <link href="/css/admin/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="/css/admin/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="/css/admin/nprogress.css" rel="stylesheet">
  <!-- bootstrap-progressbar -->
  <link href="/css/admin/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="/css/admin/custom.min.css" rel="stylesheet">
  <link href="/css/admin/client.css" rel="stylesheet">
</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">

            <%- include ('../navigationBar/logo.ejs')%>

          <!-- menu profile quick info -->
            <%- include ('../navigationBar/profile.ejs')%>
          <!-- /menu profile quick info -->

          <br />

          <!-- sidebar menu -->
            <%- include ('../navigationBar/sidebar.ejs')%>
          <!-- /sidebar menu -->

        </div>
      </div>

      <!-- top navigation -->
        <%- include ('../navigationBar/topNavigation.ejs')%>
      <!-- /top navigation -->

      <!-- page content -->
      <div class="right_col" role="main">
        <h1>Chỉnh sửa khách hàng</h1>
          <% user.forEach(item => { %>
              <form class="form-register" name="register" action="/admin/update-user/<%= item._id%>" method="post">
                  <fieldset>
                      <div class="form-group d-md-flex align-items-md-center">
                          <label class="control-label col-md-2" for="l-name"><span class="require">*</span>Tên</label>
                          <div class="col-md-5">
                              <input type="text" oninput="check_LastName()" class="form-control" name="name" value="<%= item.name%>"
                                     id="l-name" placeholder="Tên" minlength="2" maxlength="15"
                                     onkeyup="checkName(this)">
                          </div>
                          <label class="control-label col-md-5" id="checkLastName" style="text-align: left; color: orange;"></label>
                      </div>
                      <div class="form-group d-md-flex align-items-md-center">
                          <label class="control-label col-md-2" for="email"><span class="require">*</span>Email</label>
                          <div class="col-md-5">
                              <input type="email" oninput="check_Email()" class="form-control" name="email" value="<%= item.email%>"
                                     id="email" placeholder="Email" minlength="10" maxlength="40" required>
                          </div>
                          <label class="control-label col-md-5" id="checkEmail" style="text-align: left; color: orange;"></label>
                      </div>
                      <div class="form-group d-md-flex align-items-md-center">
                          <label class="control-label col-md-2" for="phone"><span class="require">*</span>Số điện thoại</label>
                          <div class="col-md-5">
                              <input type="text" oninput="check_Phone()" class="form-control" name="phoneNumber" value="<%= item.phoneNumber%>"
                                     id="phone" placeholder="Số điện thoại" minlength="10" maxlength="13"
                                     onkeyup="checkPhone(this)" required>
                          </div>
                          <label class="control-label col-md-5" id="checkPhone" style="text-align: left; color: orange;"></label>
                      </div>
                  </fieldset>
                  <div class="terms">
                      <div class="float-md-center">
                          <button type="submit" class="btn btn-dark" style="margin-left: 390px;">XÁC NHẬN</button>
                      </div>
                  </div>
              </form>
          <%})%>

      </div>
      <!-- /page content -->
    </div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="../vendors/validator/multifield.js"></script>
  <script src="../vendors/validator/validator.js"></script>

  <script language="javascript">
    // Regex for First Name
   function check_FirstName()
    {
        var x = document.getElementById("f-name").value;
        if(x.length < 5) {
            document.getElementById("checkFirstName").innerHTML =  '<i class="fa fa-exclamation-circle" aria-hidden="true" style="color: orangered;">     Họ và tên phải lớn hơn 4 ký tự, không dấu và không bao gồm ký tự đặc biệt</i>'
            document.getElementById("f-name").style.borderColor = "red";
        }else{
            document.getElementById("checkFirstName").innerHTML="";
            document.getElementById("f-name").style.borderColor = "green";
        }   
    }
     // Regex for Last Name
    function check_LastName()
    {
        var x = document.getElementById("l-name").value;
        if(x.length < 3) {
            document.getElementById("checkLastName").innerHTML =  '<i class="fa fa-exclamation-circle" aria-hidden="true" style="color: orangered;">     Tên phải lớn hơn 2 ký tự, không dấu và không bao gồm ký tự đặc biệt</i>'
            document.getElementById("l-name").style.borderColor = "red";
        }else{
            document.getElementById("checkLastName").innerHTML="";
            document.getElementById("l-name").style.borderColor = "green";
        }   
    }
    function checkName(input) {
        var regex = /[^a-zA-Z ]/gi;
        input.value = input.value.replace(regex, "");
    }   
    //Regex for Email
    function check_Email() {
        var x = document.getElementById("email").value;
        regex = /^[a-z][a-z0-9_\.]{5,32}@[a-z0-9]{2,}(\.[a-z0-9]{2,4}){1,2}$/gi;
        if(regex.test(x) == false) {
            document.getElementById("checkEmail").innerHTML =  '<i class="fa fa-exclamation-circle" aria-hidden="true" style="color: orangered;">     Email lớn hơn 4 ký tự, không dấu và đúng định dạng email</i>'
            document.getElementById("email").style.borderColor = "red";
        }else{
            document.getElementById("checkEmail").innerHTML="";
            document.getElementById("email").style.borderColor = "green";
        }   
    }
    //Regex for Phone
    function check_Phone()
    {
        var x = document.getElementById("phone").value;
        if(x.length < 10) {
            document.getElementById("checkPhone").innerHTML =  '<i class="fa fa-exclamation-circle" aria-hidden="true" style="color: orangered;">     Số điện thoại phải ít nhất 10 chữ số</i>'
            document.getElementById("phone").style.borderColor = "red";
        }else{
            document.getElementById("checkPhone").innerHTML="";
            document.getElementById("phone").style.borderColor = "green";
        }   
    }
    function checkPhone(input) {
        var regex = /[^0-9]/gi;
        input.value = input.value.replace(regex, "");
    } 
    //Regex for Password
    function check_Password() {
        var x = document.getElementById("password").value;
        regex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$/gi;
        if(regex.test(x) == false) {
            document.getElementById("checkPassword").innerHTML =  '<i class="fa fa-exclamation-circle" aria-hidden="true" style="color: orangered;">     Ít nhất 1 ký tự hoa, 1 ký tự thường,1 ký tự số và không chứa khoảng trắng</i>'
            document.getElementById("password").style.borderColor = "red";
        }else{
            document.getElementById("checkPassword").innerHTML="";
            document.getElementById("password").style.borderColor = "green";
        }   
    }
    //Check for Retype Password
    function retype_Password() {
        var pass = document.getElementById("password").value;
        var rePass = document.getElementById("password2").value;
        // regex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$/gi;
        if(pass != rePass) {
            document.getElementById("retypePassword").innerHTML =  '<i class="fa fa-exclamation-circle" aria-hidden="true" style="color: orangered;">     Mật khẩu nhập lại chưa đúng</i>'
            document.getElementById("password2").style.borderColor = "red";
        }else{
            document.getElementById("retypePassword").innerHTML="";
            document.getElementById("password2").style.borderColor = "green";
        }   
    }
    
    
    </script>

  <!-- jQuery -->
  <script src="/js/admin/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="/js/admin/bootstrap.bundle.min.js"></script>
  <!-- FastClick -->
  <script src="/js/admin/fastclick.js"></script>
  <!-- NProgress -->
  <script src="/js/admin/nprogress.js"></script>
  <!-- bootstrap-progressbar -->
  <script src="/js/admin/bootstrap-progressbar.min.js"></script>
  <!-- validator -->
  <!-- <script src="../vendors/validator/validator.js"></script> -->

  <!-- Custom Theme Scripts -->
  <script src="/js/admin/custom.min.js"></script>

</body>

</html>