<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" type="text/css"/>
    <title>The Barber Shop</title>

   <!-- Bootstrap -->
<link href="/css/admin/bootstrap.min.css" rel="stylesheet">
<!-- Font Awesome -->
<link href="/css/admin/font-awesome.min.css" rel="stylesheet">
<!-- NProgress -->
<link href="/css/admin/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/css/admin/green.css" rel="stylesheet">
	
    <!-- bootstrap-progressbar -->
    <link href="/css/admin/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/css/admin/custom.min.css" rel="stylesheet">
    <link href="/css/admin/order.css" rel="stylesheet">

  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <%- include ('../navigationBar/logo.ejs')%>

            <!-- menu profile quick info -->
            <%- include ('../navigationBar/profile.ejs')%>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <%- include ('../navigationBar/sidebar.ejs')%>
            <!-- /sidebar menu -->
          </div>
        </div>

        <!-- top navigation -->
        <%- include ('../navigationBar/topNavigation.ejs')%>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div style="width:100%; margin: 40px 0px;font-family: Helvetica; line-height: 30px; font-size:12px"><p style="float: right; text-align: right; padding-right:20px; line-height: 140%">
            Ngày đặt hàng: <%= new Date(orderCustomer.orderDate).toLocaleDateString()%><br />
            Mã đơn hàng: <%=orderCustomer._id.toString().substring(7,13)%>
          </p>
          
          
          <div style="float: left; margin: 0 0 1.5em 0; ">
           <strong style="font-size: 18px;">THE DM SHOP</strong>
            <br />
            <strong>Địa chỉ:</strong> Tầng 2 tòa 17T4, Hapulico- Complex, Q.Thanh Xuân, HN
            <br/>
            <strong>Đường dây nóng:</strong> (+800) 123 456 789
            <br/>
            <strong>Website:</strong> www.thedmshop.com
            <br/>
            <strong>Email:</strong> Support@dmshop.com
          </div>
          
          <table style="width: 100%"><tr><td valign="top" style="width: 65%">
          <h3 style="font-size: 14px;margin: 1.5em 0 1em 0; font-weight: bold;">Chi tiết đơn hàng</h3>
          <hr style="border: none; border-top: 2px solid #0975BD;"/>
          
          <table style="margin: 0 0 1.5em 0;font-size: 12px;" width="100%">
            <thead>
              <tr>
                <th style="width:25%;text-align: left;padding: 5px 0px">Mã sản phẩm</th>
                <th style="width:35%;text-align: left;padding: 5px 0px">Sản phẩm</th>
                <th style="width:15%;text-align: center;padding: 5px 0px">Số lượng</th>
                <th style="width:25%;text-align: right;padding: 5px 0px">Giá</th>
              </tr>
            </thead>
            <tbody>
              <% let sum = 0;%>
                <%orderItems.items.forEach((item)=>{%>
                  <% sum += (item.product.price*item.quantity);%>
              <tr valign="top" style="border-top: 1px solid #d9d9d9;">
                <td align="left" style="padding: 5px 0px"><%=item.product._id%></td>
                <td align="left" style="padding: 5px 5px 5px 0px;white-space: pre-line;"><%=item.product.name%></td>
                <td align="center" style="width:15%;text-align: center;padding: 5px 0px"><%=item.quantity%></td>
                <td align="right" style="padding: 5px 0px">$<%=item.product.price%></td>
              </tr>
              <%})%>
            </tbody>
          </table>
          
          <h3 style="font-size: 18px;margin: 0 0 1em 0; font-weight: bold;">Thông tin thanh toán</h3>
          
          <table style="font-size: 12px;width: 100%; margin: 0 0 1.5em 0;">
            <tr>
              <td style="padding: 5px 0px">Tổng giá sản phẩm:</td>
              <td style="text-align:right; font-size: 15px; font-weight: bold;">$<%=(sum!==0)?sum:0%></td>
            </tr>
            <tr>
              <td style="padding: 5px 0px">Phí ship</td>
              <td style="text-align:right">free ship</td>
            </tr>
            <tr>
              <td style="padding: 5px 0px"><strong>Tổng tiền:</strong></td>
              <td style="text-align:right;padding: 5px 0px; font-size: 14px; font-weight: bold;"><strong>$<%=(sum!==0)?sum:0%></strong></td>
            </tr>
          </table>
            <h3 style="font-size: 14px;margin: 0 0 1em 0; font-weight: bold;">Ghi chú:</h3>
            <p style="line-height: 30px; font-style: italic;"><%=orderItems.note%></p>
          
          </td><td valign="top" style="padding: 0px 20px">
           <h3 style="font-size: 14px;margin: 1.5em 0 1em 0; font-weight: bold;">Thông tin đơn hàng</h3>
          <hr style="border: none; border-top: 2px solid #0975BD;"/>
          
            <div style="margin: 0 0 1em 0; padding: 1em; border: 1px solid #d9d9d9;">
              <strong>Mã đơn hàng:</strong><br/><%=orderCustomer._id.toString().substring(7,13)%><br/>
            <strong>Ngày đặt hàng:</strong><br/><%= new Date(orderCustomer.orderDate).toLocaleDateString()%><br />
              <strong>Phương thức thanh toán</strong><br/>Thanh toán khi giao hàng(COD)
              <br/>
              <strong>Phương thức vận chuyển</strong><br/>Giao hàng tận nơi<br/>
              <strong>Trạng thái</strong><br/>
              <form action="/admin/order-update/<%=orderItems._id%>" method="post">
                <div class="d-flex">
                  <div class="select">
                    <select name="status" id="slct">
                      <option><%=orderItems.status%></option>
                      <option value="Đang xử lý">Đang xử lí</option>
                      <option value="Đang giao">Đang giao</option>
                      <option value="Hoàn tất">Hoàn tất</option>
                      <option value="Đã hủy">Đã hủy</option>
                    </select>
                  </div> 
                  <button type="submit" class="btn btn-round btn-outline-primary btn-sm" style="margin-left: 5px">Lưu trạng thái</button>
                </div>
              </form>
            </div>
            <h3 style="font-size: 14px;margin: 1.5em 0 1em 0; font-weight: bold;">Thông tin mua hàng</h3>
          <hr style="border: none; border-top: 2px solid #0975BD;"/>
          
            <div style="margin: 0 0 1em 0; padding: 1em; border: 1px solid #d9d9d9;  white-space: normal;">
              <strong><%=orderCustomer.customer.name%></strong><br/>
              Đại chỉ: <%=orderCustomer.address%><br/>
              Điện thoại: <%=orderCustomer.phone%><br/>
              Email: <%=orderCustomer.customer.email%>
            </div>
        </div>
      </div>
        <!-- /page content -->
      </div>
    </div>

    <!-- jQuery -->
  <script src="/js/admin/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="/js/admin/bootstrap.bundle.min.js"></script>
  <!-- FastClick -->
  <script src="/js/admin/fastclick.js"></script>
  <!-- NProgress -->
  <script src="/js/admin/nprogress.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/js/admin/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="/js/admin/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="/js/admin/skycons.js"></script>
    <script src="/js/admin/moment.min.js"></script>

    <!-- Custom Theme Scripts -->
     <script src="/js/admin/custom.min.js"></script>
    <script>
      
    </script>
	
  </body>
</html>
