<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          type="text/css"/>
    <title>The Barber Shop</title>

    <!-- Bootstrap -->
    <link href="/css/admin/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/css/admin/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/css/admin/nprogress.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="/css/admin/custom.min.css" rel="stylesheet">
    <link href="/css/admin/product.css" rel="stylesheet">
</head>

<body class="nav-md footer_fixed">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">

                <%- include ('../navigationBar/logo.ejs') %>

                <div class="clearfix"></div>
                <!-- menu profile quick info -->
                <%- include ('../navigationBar/profile.ejs')%>
                <!-- /menu profile quick info -->

                <br/>

                <!-- sidebar menu -->
                <%- include ('../navigationBar/sidebar.ejs')%>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <%- include ('../navigationBar/topNavigation.ejs')%>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="container">
                <div class="row">
                    <h1>Quản lí sản phẩm</h1>
                    <div class="d-inline-block">
                        <button onclick="window.location.href='/admin/add-product'" class="btn btn-round btn-success text-end d-inline-block"
                                style="margin-left: 915px; margin-bottom: 0">
                            <i class="fa fa-folder"></i> Thêm sản phẩm
                        </button>
                        <label class="control-label col-md-2"><span class="require"></span>Tìm theo tên:</label>
                        <input type="text" class="d-inline-block" onkeyup="searchProduct2(this.value)">
                    </div>
                    <div class="col-12">
                        <table class="table table-image">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Hình ảnh</th>
                                <th scope="col">Tên sản phẩm</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Đơn giá</th>
                                <th scope="col">The loại</th>
                                <th scope="col">Mô tả</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody id="list-product">

                                <% products.forEach((item, index) => { %>
                            <tr>
                                <td><%= index +1 %></td>
                                <td> <img src="/image/upload/<%=item.image%>"></td>
                                <td><%= item.name %></td>
                                <td><%= item.amount %></td>
                                <td><%= item.price%></td>
                                <td><%= (item.category) ? item.category.name : "None" %></td>
                                <td><%= item.description %></td>
                                <td>
                                    <a href="/admin/update-product/<%= item._id %>" class="btn btn-primary">Sửa</a>
                                    <a onclick="return confirm('Are you sure you want to delete this product?')" href="/admin/delete-product/<%= item._id %>" class="btn btn-danger">Xóa</a>
                                </td>
                            </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
                <!-- /page content -->

            </div>
        </div>

        <!-- jQuery -->
        <script src="/js/admin/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="/js/admin/bootstrap.bundle.min.js"></script>
        <!-- FastClick -->
        <script src="/js/admin/fastclick.js"></script>
        <!-- NProgress -->
        <script src="/js/admin/nprogress.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js" integrity="sha512-QTnb9BQkG4fBYIt9JGvYmxPpd6TBeKp6lsUrtiVQsrJ9sb33Bn9s0wMQO9qVBFbPX3xHRAsBHvXlcsrnJjExjg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!-- Custom Theme Scripts -->
        <script src="/js/admin/custom.min.js"></script>

<script src="/js/admin/searchProduct.js"></script>

</body>

</html>