<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Trang chủ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

    <!-- Fontawesome css -->
    <link rel="stylesheet" href="/css/user/font-awesome.min.css">
    <!-- Ionicons css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/6.0.4/esm/ionicons.min.js" />

    <!-- linearicons css -->
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

    <!-- Nice select css -->
    <link rel="stylesheet" href="/css/user/nice-select.css">
    <!-- Jquery fancybox css -->
    <link rel="stylesheet" href="/css/user/jquery.fancybox.css">
    <!-- Jquery ui price slider css -->
    <link rel="stylesheet" href="/css/user/jquery-ui.min.css">
    <!-- Meanmenu css -->
    <link rel="stylesheet" href="/css/user/meanmenu.min.css">
    <!-- Nivo slider css -->
    <link rel="stylesheet" href="/css/user/nivo-slider.css">
    <!-- Owl carousel css -->
    <link rel="stylesheet" href="/css/user/owl.carousel.min.css">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/css/user/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="/css/user/default.css">
    <!-- Main css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="/css/user/responsive.css">

    <!-- Modernizer js -->
    <script src="/js/user/modernizr-3.5.0.min.js"></script>
</head>

<body>
    <!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->
    <!-- Subiz -->
    <script>
        (function (s, u, b, i, z) {
            u[i] = u[i] || function () {
                u[i].t = +new Date();
                (u[i].q = u[i].q || []).push(arguments);
            };
            z = s.createElement('script');
            var zz = s.getElementsByTagName('script')[0];
            z.async = 1; z.src = b; z.id = 'subiz-script';
            zz.parentNode.insertBefore(z, zz);
        })(document, window, 'https://widgetv4.subiz.com/static/js/app.js', 'subiz');
        subiz('setAccount', 'acqribjjwtyuhxgxwsbp');
    </script>
    <!-- End Subiz -->

    <!-- Main Wrapper Start Here -->
    <div class="wrapper">
        <!-- Main Header Area Start Here -->
        <header>
            <%- include ('../navigationBar/header.ejs')%>
        </header>
        <!-- Header Bottom End Here -->

        <!-- Slider Area Start Here -->
        <div class="slider_box">
            <div class="slider-wrapper theme-default">
                <!-- Slider Background  Image Start-->
                <div id="slider" class="nivoSlider">
                    <a href="/user/home"><img src="/image/slider/18.jpg" data-thumb="/image/slider/18.jpg" alt=""
                            title="#htmlcaption" /></a>
                    <a href="/user/home"><img src="/image/slider/7.jpg" data-thumb="/image/slider/7.jpg" alt=""
                            title="#htmlcaption2" /></a>
                    <a href="/user/home"><img src="/image/slider/6.jpg" data-thumb="/image/slider/6.jpg" alt=""
                            title="#htmlcaption2" /></a>
                    <a href="/user/home"><img src="/image/slider/5.jpg" data-thumb="/image/slider/5.jpg" alt=""
                            title="#htmlcaption2" /></a>
                </div>
                <!-- Slider Background  Image Start-->
            </div>
        </div>
        <!-- Slider Area End Here -->

        <!-- Like Products Area Start Here -->
        <div class="like-product ptb-95 ptb-sm-55 off-white-bg">
            <div class="container">
                <div class="like-product-area">
                    <h2 class="section-ttitle2 mb-30">Xu hướng tìm kiếm</h2>
                    <!-- Like Product Activation Start Here -->
                    <div class="like-pro-active owl-carousel">
                        <!-- Single Product Start -->
                        <% productsTrend.forEach((item)=>{ %>
                            <div class="single-product">
                                <!-- Product Image Start -->
                                <div class="pro-img">
                                    <a href="product.html">
                                        <img class="primary-img" src="/image/upload/<%=item.image%>"
                                            alt="single-product">

                                    </a>
                                    <a href="#" class="quick_view" data-toggle="modal" data-target="#myModal"
                                        title="Quick View"><i class="lnr lnr-magnifier"></i></a>
                                </div>
                                <!-- Product Image End -->
                                <!-- Product Content Start -->
                                <div class="pro-content">
                                    <div class="pro-info">
                                        <h4><a href="product.html">
                                                <%=item.name%>
                                            </a></h4>
                                        <p><span class="price">$<%=item.price%></span></p>
                                    </div>
                                    <div class="pro-actions">
                                        <div class="actions-primary">
                                            <a href="#quick-view" onclick="showAddCart2('<%=item._id%>')"
                                                title="Add to Cart"> + Thêm vào giỏ hàng</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Product Content End -->
                            </div>
                            <!-- Single Product End -->
                            <%})%>
                    </div>
                    <!-- Like Product Activation End Here -->
                </div>
                <!-- main-product-tab-area-->
            </div>
            <!-- Container End -->
        </div>
        <!-- Like Products Area End Here -->
        <!-- Product sidebaer Start Here -->
        <div class="product-sidebar-area home-4">
            <div class="container">
                <div class="row">
                    <!-- Product sidebar Start -->
                    <div class="col-lg-3">
                        <div class="sidebar">
                            <div class="side-pro-box mt-30">
                                <h3 class="sidebar-title mb-30">Tìm kiếm nhiều nhất</h3>
                                <div class="side-product-active owl-carousel">
                                    <!-- Side Item Start -->
                                    <div class="side-pro-item">
                                        <% productSearchMost.forEach(item=> { %>
                                            <!-- Single Product Start -->
                                            <div class="single-product single-product-sidebar">
                                                <!-- Product Image Start -->
                                                <div class="pro-img">
                                                    <a href="product.html">
                                                        <img class="primary-img" src="/image/upload/<%=item.image%>"
                                                            alt="single-product">
                                                    </a>
                                                </div>
                                                <!-- Product Image End -->
                                                <!-- Product Content Start -->
                                                <div class="pro-content">
                                                    <div class="pro-info">
                                                        <h4><a href="product.html">
                                                                <%=item.name%>
                                                            </a></h4>
                                                        <p><span class="price">$<%=item.price%></span></p>
                                                    </div>
                                                    <div class="pro-actions">
                                                        <div class="actions-primary">
                                                            <a href="#quick-view"
                                                                onclick="showAddCart2('<%=item._id%>')"
                                                                title="Add to Cart"> + Thêm vào giỏ hàng</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Product Content End -->
                                            </div>
                                            <!-- Single Product End -->
                                            <%})%>
                                                <!-- Product Content End -->
                                    </div>
                                    <!-- Single Product End -->
                                </div>
                                <!-- Side Item End -->
                            </div>
                        </div>
                        <div class="side-pro-box">
                            <h3 class="sidebar-title mt-30">Thương hiệu nổi tiếng </h3>
                            <!-- Brand Banner Start -->
                            <div class="brand-banner-sidebar owl-carousel">
                                <div class="single-brand">
                                    <img class="img" src="/image/black-rouge-6867.jpg" alt="brand-image">
                                    <img src="/image/dchic.jpg" alt="brand-image">
                                </div>
                                <div class="single-brand">
                                    <<img class="img" src="/image/puma-203146.jpg" alt="brand-image">
                                        <img src="/image/samsung.png" alt="brand-image">
                                </div>
                                <div class="single-brand">
                                    <img src="/image/vt.png" alt="brand-image">
                                    <img src="/image/ivymoda.jpg" alt="brand-image">
                                </div>
                            </div>
                            <!-- Brand Banner End -->
                        </div>
                    </div>
                    <!-- Product sidebar End -->
                    <!-- Product List Start -->
                    <div class="col-lg-9 mt-sm-60">
                        <div class="all-border">
                            <!-- Product Title Start -->
                            <div class="post-title pb-30">
                                <h2>Ưu đãi khủng</h2>
                            </div>
                            <!-- Product Title End -->
                            <!-- Hot Deal Product Activation Start -->

                            <div class="hot-deal-active3 owl-carousel">
                                <% productSale.forEach(item=> { %>
                                    <div class="row">
                                        <!-- Main Thumbnail Image Start -->

                                        <div class="col-lg-6 mb-all-40 hot-product3 ">
                                            <div class="single-product">
                                                <!-- Product Imag Start -->
                                                <div class="pro-img">
                                                    <a href="product.html">
                                                        <img class="primary-img" src="/image/upload/<%=item.image%>"
                                                            alt="single-product">
                                                    </a>
                                                    <a href="#" class="quick_view" data-toggle="modal"
                                                        data-target="#myModal" title="Quick View"><i
                                                            class="lnr lnr-magnifier"></i></a>
                                                </div>
                                                <!-- Product Image End -->
                                                <span class="sticker-new">new</span>
                                            </div>
                                        </div>

                                        <!-- Main Thumbnail Image End -->
                                        <!-- Thumbnail Description Start -->
                                        <div class="col-lg-6 hot-product2">

                                            <div class="thubnail-desc fix">
                                                <div class="countdown" data-countdown="2025/03/01"></div>
                                                <h3><a href="product.html">
                                                        <%=item.name%>
                                                    </a></h3>
                                                <div class="pro-price mtb-20">
                                                    <p><span class="price1">$<%=item.price%></span>
                                                        <del class="prev-price1">$<%=item.price + (item.price*6/100)%>
                                                                %></del>
                                                    </p>
                                                    <div class="label-product l_sale">6<span
                                                            class="symbol-percent">%</span></div>
                                                </div>
                                                <p class="mb-30 pro-desc-details">
                                                    <%= item.description%>
                                                </p>
                                                <div class="pro-actions">
                                                    <div class="actions-primary">
                                                        <a href="cart.html" title="Add to Cart"> +Thêm vào giỏ
                                                            hàng</a>
                                                    </div>
                                                    <div class="actions-secondary">
                                                        <a href="wishlist.html" title="WishList"><i
                                                                class="lnr lnr-heart"></i> <span>Yêu thích</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Thumbnail Description End -->
                                    </div>
                                    <%})%>
                            </div>
                            <!-- Hot Deal Product Active End -->
                        </div>
                        <!-- main-product-tab-area-->
                        <div class="main-product-tab-area mt-100 mt-sm-60">
                            <!-- Arrivals Products Area Start Here -->
                            <div class="second-arrivals-product pb-45 pb-sm-5">
                                <div class="container">
                                    <div class="main-product-tab-area">
                                        <div class="tab-menu mb-25">
                                            <div class="section-ttitle">
                                                <h2>Tất cả sản phẩm</h2>
                                            </div> 
                                        </div>
                                        <!-- Tab Contetn Start -->
                                        <div class="tab-content">                                       
                                            <!-- #beauty End Here -->
                                            <div id="electronics2" class="tab-pane fade show active">
                                                <!-- Arrivals Product Activation Start Here -->
                                                <div class="best-seller-pro-active owl-carousel">
                                                    <%if(products.length != 0){%>
                                                    <%products.forEach(item=>{%>
                                                        <!-- Double Product Start -->
                                                        <div class="double-product">
                                                            <!-- Single Product Start -->
                                                            <div class="single-product">
                                                                <!-- Product Image Start -->
                                                                <div class="pro-img">
                                                                    <a href="product.html">
                                                                        <img class="primary-img" src="/image/upload/<%=item.image%>"
                                                                            alt="single-product">
                                                                       
                                                                    </a>
                                                                    <a href="#" class="quick_view" data-toggle="modal"
                                                                        data-target="#myModal" title="Quick View"><i
                                                                            class="lnr lnr-magnifier"></i></a>
                                                                </div>
                                                                <!-- Product Image End -->
                                                                <!-- Product Content Start -->
                                                                <div class="pro-content">
                                                                    <div class="pro-info">
                                                                        <h4><a href="product.html"><%=item.name%></a></h4>
                                                                        <p><span class="price">$<%=item.price%></span></p>
                                                                    </div>
                                                                    <div class="pro-actions">
                                                                        <div class="actions-primary">
                                                                            <a href="#quick-view" onclick="showAddCart2('<%=item._id%>')" title="Add to Cart"> +
                                                                                Thêm vào giỏ</a>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                </div>
                                                                <!-- Product Content End -->
                                                            </div>
                                                            <!-- Single Product End -->
                                                            
                                                        </div>
                                                        <!-- Double Product End -->
                                                    <%})%>
                                                    <%}%>
                                                </div>
                                                <!-- Arrivals Product Activation End Here -->
                                            </div>
                                            <!-- #electronics End Here -->
                                        </div>
                                        <!-- Tab Content End -->
                                    </div>
                                    <!-- main-product-tab-area-->
                                </div>
                                <!-- Container End -->
                            </div>
                            <!-- Arrivals Products Area End Here -->
                        </div>
                        <!-- main-product-tab-area-->
                    </div>
                    <!-- Product List End -->
                </div>
            </div>
        </div>
        <!-- Product sidebaer End Here -->
        <!-- Banner Area Start Here -->
        <div class="big-banner pb-100 pt-95 pb-sm-60 pt-sm-55">
            <div class="container big-banner-box">
                <div class="col-img">
                    <a href="#">
                        <img src="/image/banner/10.jpg" alt="">
                    </a>
                </div>
                <div class="col-img">
                    <a href="#">
                        <img src="/image/banner/11.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <!-- Banner Area End Here -->
        <!-- Footer Area Start Here -->
        <footer class="off-white-bg2 pt-95 bdr-top pt-sm-55">
            <%- include ('../navigationBar/footer')%>
        </footer>
        <!-- Footer Area End Here -->
        <!-- Quick View Content End -->

    </div>
    <!-- Main Wrapper End Here -->


    <!-- jquery 3.2.1 -->
    <script src="/js/user/jquery-3.2.1.min.js"></script>
    <!-- Countdown js -->
    <script src="/js/user/jquery.countdown.min.js"></script>
    <!-- Mobile menu js -->
    <script src="/js/user/jquery.meanmenu.min.js"></script>
    <!-- ScrollUp js -->
    <script src="/js/user/jquery.scrollUp.js"></script>
    <!-- Nivo slider js -->
    <script src="/js/user/jquery.nivo.slider.js"></script>
    <!-- Fancybox js -->
    <script src="/js/user/jquery.fancybox.min.js"></script>
    <!-- Jquery nice select js -->
    <script src="/js/user/jquery.nice-select.min.js"></script>
    <!-- Jquery ui price slider js -->
    <script src="/js/user/jquery-ui.min.js"></script>
    <!-- Owl carousel -->
    <script src="/js/user/owl.carousel.min.js"></script>
    <!-- Bootstrap popper js -->
    <script src="/js/user/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/user/bootstrap.min.js"></script>
    <!-- Plugin js -->
    <script src="/js/user/plugins.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"
        integrity="sha512-QTnb9BQkG4fBYIt9JGvYmxPpd6TBeKp6lsUrtiVQsrJ9sb33Bn9s0wMQO9qVBFbPX3xHRAsBHvXlcsrnJjExjg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/user/cart.js"></script>
    <!-- Main activaion js -->
    <script src="/js/user/main.js"></script>
</body>

</html>