<!-- Header Top Start Here -->
<div class="header-top-area home-4">
    <div class="container">
        <!-- Header Top Start -->
        <div class="header-top">
            <ul>
                <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Tầng 2 Tòa Nhà 17T4 - Hapulico Complex, Q.Thanh Xuân, TP.HN</a></li>
                <li><a href="#"><i class="fa fa-mobile" aria-hidden="true"></i> Hotline: 19006789 </a></li>
                <li><a href="#"><i aria-hidden="true"></i> DM, there's no better way </a></li>
            </ul>
        </div>
        <!-- Header Top End -->
    </div>
    <!-- Container End -->
</div>
<!-- Header Top End Here -->
<!-- Header Middle Start Here -->
<div class="header-middle ptb-15 black-bg2 home-4">
    <div class="container">
        <div class="row align-items-center no-gutters">
            <div class="col-lg-3 col-md-12">
                <div class="logo mb-all-30">
                    <a href="/user/home"><img src="/image/logo.jpg" alt="logo-image"></a>
                </div>
            </div>
            <!-- Categorie Search Box Start Here -->
            <div class="col-lg-5 col-md-8 ml-auto mr-auto col-10">
                <div class="categorie-search-box">
                    <form action="#">
                        <input type="text" name="search" placeholder="Tìm kiếm sản phẩm">
                        <button><i class="lnr lnr-magnifier"></i></button>
                    </form>
                </div>
            </div>
            <!-- Categorie Search Box End Here -->
            <!-- Cart Box Start Here -->
            <div class="col-lg-4 col-md-12">
                <div class="cart-box mt-all-30">
                    <ul class="d-flex justify-content-lg-end justify-content-center align-items-center">
                        <li><a href="/user/cart"><i class="lnr lnr-cart"></i><span class="my-cart"><span id ="cart-length" class="total-pro"><%=(carts)?carts.items.length:0%></span><span>Giỏ hàng</span></span></a>
                            <ul class="ht-dropdown cart-box-width">
                                <li>
                                    <% if(carts){%>
                                        <% carts.items.forEach((item)=>{%>
                                            <!-- Cart Box Start -->
                                            <div class="single-cart-box">
                                                <div class="cart-img">
                                                    <a href="#"><img src="/image/upload/<%=item.product.image%>" alt="cart-image"></a>
                                                    <span class="pro-quantity"><%=item.quantity%>X</span>
                                                </div>
                                                <div class="cart-content">
                                                    <h6><a href="product.ejs"><%=item.product.name%></a></h6>
                                                    <span class="cart-price">$<%=item.product.price%></</span>
                                                </div>
                                                <a class="del-icone" href="#"><i class="ion-close"></i></a>
                                            </div>
                                        <!-- Cart Box End -->
                                        <%})%>
                                    <%}%>
                                    
                                    <!-- Cart Footer Inner Start -->
                                    <div class="cart-footer">
                                        <div class="cart-actions text-center">
                                            <a class="cart-checkout" href="/user/cart">Kiểm tra</a>
                                        </div>
                                    </div>
                                    <!-- Cart Footer Inner End -->
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown open" style="padding-left: 15px;">
                            <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                              <img src="img/logo/user1.png" alt=""><%=userName%>
                            </a>
                            <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item"  href="/auth/changepassword">Đổi mật khẩu<i class="fa fa-address-book"></i></a>
                              <a class="dropdown-item"  href="../../User/login.html"><i class="fa fa-sign-out pull-right"></i> Đăng xuất</a>
                              <a class="dropdown-item"  href="orderUser.html"><i class="fa fa-sign-out pull-right"></i> Chi tiết đơn hàng</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- Cart Box End Here -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- Header Middle End Here -->
<!-- Header Bottom Start Here -->
<div class="header-bottom  header-sticky black-bg2 home-4">
    <div class="container">
        <div class="row align-items-center">
            <!-- <div class="col-xl-3 col-lg-4 col-md-6 vertical-menu d-none d-lg-block">
               <span class="categorie-title">Shop by Categories</span>
           </div>                        -->
            <div class="col-xl-12 col-lg-12 col-md-12 ">
                <nav class="d-none d-lg-block">
                    <ul class="header-bottom-list d-flex roboto">
                        <li><a href="/user/home" style="font-size: 20px;">Trang chủ</a></li>
                        <li><a href="/user/about" style="font-size: 20px;">Giới thiệu</a></li>
                        <li><a style="font-size: 20px;">Thể loại<i class="fa fa-angle-down"></i></a>
                            <!-- Home Version Dropdown Start -->
                            <ul class="ht-dropdown dropdown-style-two">
                                <li><a href="#" style="font-size: 20px;">Quần, áo</a></li>
                                <li><a href="#" style="font-size: 20px;">Váy</a></li>
                                <li><a href="#" style="font-size: 20px;">Mỹ phẩm</a></li>
                                <li><a href="#" style="font-size: 20px;">Giày</a></li>
                                <li><a href="#" style="font-size: 20px;">Thiết bị điện tử</a></li>
                            </ul>
                            <!-- Home Version Dropdown End -->
                        </li>
                        <li><a href="/user/contact" style="font-size: 20px;">Phản hồi</a></li>
                    </ul>
                </nav>
                <div class="mobile-menu d-block d-lg-none">
                    <nav>
                        <ul>
                            <li><a href="/user/home">Trang chủ</a></li>
                            <li><a href="/user/about">Giới thiệu</a></li>
                            <li><a style="font-size: 20px;">Thể loại<i class="fa fa-angle-down"></i></a>
                                <!-- Home Version Dropdown Start -->
                                <ul class="ht-dropdown dropdown-style-two">
                                    <li><a href="" style="font-size: 20px;">Quần, áo</a></li>
                                    <li><a href="#" style="font-size: 20px;">Váy</a></li>
                                    <li><a href="#" style="font-size: 20px;">Mỹ phẩm</a></li>
                                    <li><a href="#" style="font-size: 20px;">Giày</a></li>
                                    <li><a href="#" style="font-size: 20px;">Thiết bị điện tử</a></li>
                                </ul>
                                <!-- Home Version Dropdown End -->
                            </li>
                            <li><a href="/user/contact" style="font-size: 20px;">Phản hồi</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Row End -->
    </div>
</div>